.sign-in {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background: black;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 30px;
    @media (max-width: 600px) {
      width: 80%;
    }
    &__title {
      color: $color-secondary;
      font-size: 80px;
      @media (max-width: 600px) {
        font-size: 35px;
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      justify-content: center;
      align-items: flex-start;

      &__label {
        font-size: 40px;
        color: $color-white;
        @media (max-width: 600px) {
          font-size: 20px;
        }
      }
      &__input {
        width: 100%;
        padding: 20px;
        border: 4px solid $color-white;
        border-radius: $border-radius-primary;
        outline: none;
        background-color: rgba($color: #000000, $alpha: 0);
        color: $color-white;
        font-size: 20px;
        @media (max-width: 600px) {
          font-size: 17px;
          padding: 15px;
        }
      }
    }
    &__button {
      width: 50%;
      cursor: pointer;
      padding: 20px;
      border: none;
      font-size: 20px;
      color: $color-white;
      background-color: $color-secondary;
      font-weight: bold;
      border-radius: $border-radius-primary;
      transition: all 0.3s ease;
      &:hover {
        background-color: $color-white;
        color: $color-secondary;
      }

      @media (max-width: 600px) {
        font-size: 18px;
        width: 100%;
        padding: 15px;
      }
    }
  }
}
